@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background);
}

@theme {
  --color-secondary: #ffed4a;
  --color-background: #1a1b1e;
  --color-primary: #04c1de;

  --color-primary: #05d3f2;
  --color-background-light: #1e1f23;
}
